API_IMAGE_TAG=latest

ASPNETCORE_ENVIRONMENT={{ aspnetcore_environment | default('Production') }}
ConnectionStrings__Default=Host=api-db;Database=api;Username=api;Password={{ vault_api_db_password | replace('$', '$$') }}
POSTGRES_PASSWORD={{ vault_api_db_password | replace('$', '$$') }}

IdentityServer__Authority={{ auth_hostname }}
IdentityServer__MetadataAddress=http://auth:8080/.well-known/openid-configuration
IdentityServer__RequireHttpsMetadata=false
