ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__Default=Host={{ item.name }}-db;Database={{ item.db_name }};Username={{ item.db_user }};Password={{ vault_app_db_passwords[item.name] }}
POSTGRES_DB={{ item.db_name }}
POSTGRES_USER={{ item.db_user }}
POSTGRES_PASSWORD={{ vault_app_db_passwords[item.name] }}
{% for key, value in item.extra_env.items() %}
{{ key }}={{ value }}
{% endfor %}
