AUTH_IMAGE_TAG=latest
API_IMAGE_TAG=latest

AUTH_DB_PASSWORD={{ vault_auth_db_password }}
API_DB_PASSWORD={{ vault_api_db_password }}

ASPNETCORE_ENVIRONMENT={{ aspnetcore_environment | default('Production') }}
Auth__ConnectionStrings__Default=Host=auth-db;Database=auth;Username=auth;Password={{ vault_auth_db_password }}
Api__ConnectionStrings__Default=Host=api-db;Database=api;Username=api;Password={{ vault_api_db_password }}
Api__Auth__Authority={{ auth_url }}
Api__Auth__MetadataAddress=http://auth:8080/.well-known/openid-configuration