AUTH_IMAGE_TAG=latest

ASPNETCORE_ENVIRONMENT={{ aspnetcore_environment | default('Production') }}
ConnectionStrings__Default=Host=auth-db;Database=auth;Username=auth;Password={{ vault_auth_db_password | replace('$', '$$') }}
POSTGRES_PASSWORD={{ vault_auth_db_password | replace('$', '$$') }}