API_IMAGE_TAG=latest

ASPNETCORE_ENVIRONMENT={{ aspnetcore_environment | default('Production') }}
Database__ConnectionString=Host=api-db;Database=api;Username=api;Password={{ vault_api_db_password | replace('$', '$$') }}
Database__RunMigrations=true

IdentityServer__Authority={{ identity_authority_url }}
IdentityServer__MetadataAddress=http://auth:8080/.well-known/openid-configuration
IdentityServer__RequireHttpsMetadata=false
