{% set db_name = 'auth' %}
{% set db_user = 'auth' %}
{% set db_pass = vault_auth_db_password | replace('$', '$$') %}

# PostgreSQL Init Variables (Used by the DB container)
POSTGRES_USER={{ db_user }}
POSTGRES_DB={{ db_name }}
POSTGRES_PASSWORD={{ db_pass }}

# Application Variables (Used by the .NET container)
AUTH_IMAGE_TAG=latest
ASPNETCORE_ENVIRONMENT={{ aspnetcore_environment | default('Production') }}
ConnectionStrings__DefaultConnection=Host=api-db;Database={{ db_name }};Username={{ db_user }};Password={{ db_pass }}
